section {
  background-image: url("background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title-project{
  margin-top: 20px;
}

.panel-block {
  height: 400px;
  border-radius: 25px;
  background-color: mistyrose;
}
