section {
  background-image: url("background2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.title-project{
  margin-top: 20px;
}

.panel-block {
  height: 400px;
  border-radius: 25px;
  background-color: mistyrose;
}

.panel-block:hover {
  border-color: red;
}

img {
  border-radius: 15px;
}
