section {
  background-image: url("background2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.title-project{
  margin-top: 20px;
}

/*img {
  height: 30%;
  width: 80%;
}*/

.panel-block {
  height: 400px;
  border-radius: 25px;
  background-color: #dadada;
}

.panel-block:hover {
  border-color: red;
  background-color: #777777;
}

img {
  border-radius: 15px;
}
